@model MobilePhoneShop.Models.UserProfile

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Active"] = "DangNhap";
}

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
             @*   <h2 class="text-info">Log In</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>*@
            </div>
            @using (Html.BeginForm("Authorise", "DangNhap", FormMethod.Post))
            {
                <div class="mb-3">
                    <label class="form-label">Tài Khoản</label>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div>
                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMsg)</label>
                </div>
                <input type="submit" value="Đăng nhập" class="btn btn-primary" />
            }
        </div>
    </section>
</main>
