@model MobilePhoneShop.Models.UserProfile
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Active"] = "DangKy";
}

<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Đăng Ký</h2>
                <p>Đăng ký để nhận được nhiều ưu đãi !</p>
            </div>
            @using (Html.BeginForm("CreateAccount","DangKy", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label class="form-label">Nhập tên đăng nhập</label>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control item" } })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="mb-3">
                    <label class="form-label">Nhập mật khẩu</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control item" } })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="mb-3">
                    <label class="form-label">Nhập lại mật khẩu</label>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control item" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>

                <div>
                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMsg)</label>
                </div>
                <input type="submit" value="Đăng ký" class="btn btn-primary" />
            }

        </div>
    </section>
</main>

